.thin_border{
	border:1px solid black;
}

.navbar{
	font-size: 30px;


}

/*hero image for homepage*/
.heroimg{
	/*need center alignment with stretch*/
	width:100%
	height:100%
	background-image: url(testimagecabinets.jpeg);

}